// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body {
  height: 100%;
}

.swiper-button-next, .swiper-button-prev{
  width: 25px;
  height: 20px;
}

.custom-file-input:focus{
  outline: none;
}

.custom-file-label{
  border-radius: 0;
}
.dropdown-toggle::after{
  content: none;
}

.nav-search-field{
  height: 1.7rem;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  outline: 0;
  padding: 3px 10px 3px 26px;
  z-index: 2;
  font-size: 16px;
  line-height: 18px;
}