// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body {
  height: 100%;
}

.swiper-button-next, .swiper-button-prev{
  width: 25px;
  height: 20px;
}

.custom-file-input:focus{
  outline: none;
}

.custom-file-label{
  border-radius: 0;
}
.dropdown-toggle::after{
  content: none;
}